<div class="navbar">
    <ul class="nav nav-tabs">
        <li ui-sref-active="active" class="active"> <a ui-sref="accounts" role="button" href="#/accounts"> Accounts </a> </li>
        <li ui-sref-active="active" class="active"> <a ui-sref="transactions" role="button" href="#/transactions"> Transactions </a> </li>
    </ul>
</div>